@page "/"

<h1>Welcome to my Quiz Demo!</h1>

<div>
    <label>Hello my name is <b>Mark Buckingham</b></label>
</div>
<div>
    This simple application is one of my many forays into Blazor.  This application uses the data from the good folks at
    <a target="_blank" href="https://opentdb.com/">Open Trivia Database.</a>  You can find a working demo at
    <a target="_blank" href="https://blazorquiz.azurewebsites.net/">Blazor Quiz</a>
    as always this demo is a proof of concept.
</div>
<br />
<div>
    How is it constructed:<br />
    1. All development was done using Microsoft Visual Studio Community 2019 Preview
    Version 16.5.0 Preview 2.0<br />
    2. It uses .Net Core 3.1<br />
    3. It is hosted on Azure using Azure CI/CD & Azure SignalR Service<br />
    3. All development was done using Microsoft Visual Studio Community 2019 Preview
    Version 16.5.0 Preview 2.0
</div>
<br />
<div>
    <label style="font-weight:bold;">Notes:</label><br />
    1.  This demo only returns 10 Questions per category.  This can be extended See:
    <a target="_blank" href="https://opentdb.com/api_config.php">Open Trivia Database Documentation.</a>
    <br />
    2.  Currently only multiple choice questions are retrieved from the API.
</div>